* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #51cbce;
  --secondary-color: #51bcda;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
  --borders: 1px solid rgba(0, 0, 0, 0.1);
  --normalShadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Montserrat", sans-serif;
  color: gray;
}
ul,
li {
  list-style: none;
}
a {
  color: #3eb0ef;
}
/* Toast notifications */
.toast {
  max-width: 400px !important;
  overflow: hidden;
  font-size: 15px !important;
  background-color: none !important;
  background-clip: padding-box;
  border: none !important;
  box-shadow: 0 0 10px #999;
  /* box-shadow: none !important; */
  backdrop-filter: blur(10px);
  border-radius: 0.25rem;
}
.danger {
  color: white;
  background-color: #d9534f;
  border-bottom: none !important;
}
.success {
  color: white;
  background-color: #5cb85c;
  border-bottom: none !important;
}
.toast-position {
  box-sizing: border-box;
  position: fixed;
  z-index: 999999;
  bottom: 12px;
  left: 12px;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.7s;
}
/* Override bootstrap 4 styles */
.btn {
  display: inline-block;
  border: none;
  color: white;
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}

.input-group-text {
  border-radius: 0;
}
/* Override bootstrap 4 styles */
.alert-danger {
  color: rgb(97, 26, 21);
  background-color: rgb(253, 236, 234);
  display: flex;
  padding: 6px 16px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 4px;
  letter-spacing: 0.01071em;
  box-shadow: none;
  margin-bottom: 16px;
}
.alert-info {
  color: rgb(30, 70, 32);
  background-color: rgb(237, 247, 237);
  display: flex;
  padding: 6px 16px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 4px;
  letter-spacing: 0.01071em;
  box-shadow: none;
  margin-bottom: 16px;
}

.alert-icon {
  display: flex;
  opacity: 0.9;
  padding: 7px 0;
  font-size: 22px;
  margin-right: 12px;
}
.alert-icon .fa {
  width: 1em;
  height: 1em;
  display: inline-block;
}
.alert-message {
  display: flex;
  padding: 8px 0;
  flex-direction: column;
  justify-content: center;
}

.active:after {
  content: "";
}
.brand-text {
  color: white;
  font-weight: 600;
  line-height: 0.8em;
  margin: 0;
  text-transform: capitalize;
  cursor: pointer;
  padding: 6px;
  background-color: black;
}
.brand-text:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.forms-wrapper {
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  max-width: 520px;
  padding: 15px;
  margin: 0 auto;
}
.forms-margin {
  margin-top: 5rem;
}
/* .card {
  border: none !important;
} */
a:hover {
  text-decoration: none;
}

/* navbar */
.navbar {
  background-color: #fff;
  box-shadow: var(--normalShadow);
}
.navbartext-black .navbar-nav .nav-link {
  color: black;
}
.nav-link {
  font-size: 16px;
  padding: 10px 15px;
  margin: 0 10px;
  font-weight: bold;
}

#nprogress .bar {
  height: 4px !important;
}
.signup_text {
  padding-top: 10px;
}

.ql-editor {
  min-height: 300px;
}
/* Blogs */
.search-image {
  min-height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/dawn.jpg");
  background-position: (25% 75%);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
.search-body {
  flex: 1 1 auto;
  padding: 6px;
}
.search-text {
  margin-top: 10rem;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
/* Blogs Page */
.site-section {
  padding: 2.5em 0;
}
@media (min-width: 768px) {
  .site-section {
    padding: 1em 0;
  }
}
.search-section {
  padding: 2.5em 0;
}
@media (min-width: 768px) {
  .search-section {
    padding: 1em 0;
  }
}
/* Single Blog Page */
.site-cover,
.site-cover .same-height {
  padding: 7em 0;
}
.site-cover {
  background-size: cover !important;
  background-position: center !important;
  position: relative;
  min-height: 100vh;
}
.site-cover.overlay:before {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 992px) {
  .site-cover.single-page h1 {
    font-size: 5rem;
  }
}

.site-cover .post-entry .post-meta {
  color: #fff;
  font-size: 13px;
}

/* List Related NewCard */
.post-category {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 4px;
  letter-spacing: 0.2em;
  font-weight: 700;
  font-size: 0.6rem;
  text-transform: uppercase;
}
.entry2 h2 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
}
.entry2 .post-meta {
  color: #b3b3b3;
  font-size: 13px;
  width: 100%;
  display: block;
}
/* Single Post */
.singleblog-section {
  padding: 2.5em 0;
}
@media (min-width: 768px) {
  .singleblog-section {
    padding: 5em 0;
  }
}

.sidebar-box {
  margin-bottom: 4em;
  font-size: 15px;
  width: 100%;
  float: left;
}
.sidebar-box .heading {
  /* font-size: 18px; */
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.post-entry-sidebar ul {
  padding: 0;
  margin: 0;
}
.post-entry-sidebar ul li {
  list-style: none;
  padding: 0 0 20px;
  margin: 0 0 20px;
}
.post-entry-sidebar ul li a {
  display: table;
}
.post-entry-sidebar ul li a img,
.post-entry-sidebar ul li a .text {
  display: table-cell;
  vertical-align: middle;
}
.post-entry-sidebar ul li a img {
  width: 90px;
}
.post-entry-sidebar ul li a .text h4 {
  font-size: 18px;
}
.post-entry-sidebar .post-meta {
  font-size: 14px;
  color: #b3b3b3;
}
/* .sidebar-box *:last-child {
  margin-bottom: 0;
} */
.categories,
.sidelink {
  padding: 0;
  margin: 0;
  font-weight: 400;
}
.categories li,
.sidelink li {
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
  list-style: none;
}
.tags {
  padding: 0;
  margin: 0;
  font-weight: 400;
}
.tags li {
  padding: 0;
  margin: 0 4px 4px 0;
  display: inline-block;
}
.tags li a {
  float: left;
  display: block;
  border-radius: 4px;
  padding: 2px 6px;
  color: gray;
  background: #f2f2f2;
}
/* Card Button */
.btn-loadmore {
  background-color: deeppink;
  border-radius: 3333px;
}
/* .btn-head {
  background-color: deeppink;
} */
.btn-submit {
  background: deeppink;
  width: 100%;
  text-transform: uppercase;
}
.btn-submit:hover,
.btn-search:hover,
.btn-loadmore:hover {
  color: deeppink;
  background-color: #f9d9eb;
}
.btn-search {
  background: deeppink;
}
.btn-submit:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* React share icons styling */
.Demo__some-network {
  vertical-align: top;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
}
.Demo__some-network__share-button {
  cursor: pointer;
}
.Demo__some-network__share-count {
  margin-top: 3px;
  font-size: 12px;
}
.Demo__some-network__share-button:hover:not(:active) {
  opacity: 0.75;
}

/* banner cover index */
.viewport-80 {
  min-height: 80vh;
}
#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/alexis-brown--Xv7k95vOFA-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(36, 42, 51);
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}

#banner .banner-link {
  text-decoration: none;
  font-size: 20px;
  padding: 15px 25px;
  border: 2px solid deeppink;
  background-color: transparent;
  border-radius: 0;
  color: deeppink;
}

#banner .banner-link:hover {
  border: 2px solid #f5f3f5;
  background-color: #f5f3f5;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.store {
  background: rgb(238, 238, 238);
}

/* index card flip */
.flip {
  position: relative;
}
.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}
.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 100%;
  /*width: 400px;*/
}
.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: black;
  border-radius: 10px;
}
.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: white;
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04),
    3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04),
    0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04),
    7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04),
    9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04),
    11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04),
    13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04),
    0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04),
    17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04),
    19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

/* Comments */
